{% extends 'base.html'%}
{% block content%}
<table>
<tr><th>Студент</th>
    {% for stat in stats%}
    {% with student=students|first %}
        {% if stat.student.id == student.id %}
        <th>{{stat.lab.name}}</th>
        {% endif %}
    {% endwith %}
    {% endfor %}
    <th>Рейтинг за КТ1</th>
    <th>Рейтинг за КТ2</th>
    <th>Рейтинг за КТ3</th>
    <th>Общий рейтинг</th>
</tr>
{% for student in students %}
    <tr>
    <td>{{student.name}}</td>
    {% for stat in stats%}
        {% if stat.student.id == student.id %}


        <td><input class="stats" type="checkbox" id="{{stat.id}}" {% if stat.status == True %}checked{% endif %}></td>

        {% endif %}
    {% endfor %}

        <td>{{student.rating_1KT}}</td>
        <td>{{student.rating_2KT}}</td>
        <td>{{student.rating_3KT}}</td>
        <td><data class="Rating" value="{{student.id}}">{{student.rating}}</data></td>

    </tr>
{% endfor %}

</table>

<script>
let items = document.querySelectorAll('.stats');

for (const item of items) {
    item.addEventListener('click', function(){
        let id = this.getAttribute('id');
        let this_click = this;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                this_click.innerHTML= this.responseText;
            }
        };
        xhttp.open("GET", "api/v1/update_stats_status?stats_id="+id+"&status=1", true);
        xhttp.send();
            });
}
</script>
{% endblock%}
